* { margin: 0; padding: 0;}
.hide { display: none;}
.btn { width: 100px; line-height: 30px; background: green; color: #fff; border: none; border-radius: 10px; position: absolute; top: 100px; left: 200px;}