/* reset */
body { font: 14px/1.5 "Helvetica Neue", "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "sans-serif"; color: #333;}
body,h1,h2,h3,input,p,ul,li { margin: 0; padding:0;}
ul { list-style: none;}
h1,h2,h3 { font-weight: normal; font-size: 100%; line-height: 100%; color: #424242;}
em { font-style: normal;}
a { text-decoration: none; color: #424242;}
/* utils */
.fl { float: left;}
.fr { float: right;}
.rel { position: relative;}
.abs  { position: absolute;}
.clearfix { *zoom: 1;}
.clearfix:after { content: ''; display: table; clear: both;}

/* common */

/* main */
.topbar { height: 65px; color: #616161; background: #f5f5f5;}
.topbar .container { width: 1226px; margin: 0 auto;}
.topbar .container .logobox { height: 55px; margin: 5px 0;}
.topbar .container .logobox .logo { width: 55px; height: 55px; overflow: hidden; background: #ff6700; display: block;}
.topbar .container .logobox .logo:before,
.topbar .container .logobox .logo:after { width: 55px; height: 55px; content: ''; position: absolute; top: 0; left: 0; transition: all 0.2s;}
.topbar .container .logobox .logo:before { background: url(../images/mi-logo.png) no-repeat center center; transform: translate3d(0,0,0);}
.topbar .container .logobox .logo:after { background: url(../images/mi-home.png) no-repeat center center; margin-left: -55px;}
.topbar .container .logobox .logo:hover:before { transform: translate3d(55px,0,0);}
.topbar .container .logobox .logo:hover:after { transform: translate3d(55px,0,0);}
@media (min-width: 1660px){
  .top .container { width: 1612px;}
}

.textbox { margin: 100px 0;}
.textbox .content { width: 1226px; margin: 0 auto; text-align: center; -webkit-font-smoothing:antialiased;}
.textbox .content h1 {  font-size: 82px; line-height: 100px; font-weight: 100;}
.textbox .content h1 span { color: #ff3d00; font-size: 96px; margin-left: 10px;  vertical-align: top;}
.textbox .content h2 {  font-size: 32px; line-height: 1.25; margin-bottom: 30px; font-weight: 100;}
.textbox .content h3 {  font-size: 14px; line-height: 37px; margin-bottom: 25px;}
.textbox .content h3 span { display: inline-block;}
.textbox .content h3>span em { font-weight: bold;}
.textbox .content h3>span:first-child { margin-right: 18px;}
.textbox .content h3>span:last-child { margin-left: 18px;}
.textbox .content .playVideoBox { margin-bottom: 15px; text-align: center; display: inline-block;}
.textbox .content .playVideoBox .playVideo { display: inline-block; padding-left: 30px; background: url(../images/icon-play.png) no-repeat left 0; line-height: 24px; color: #ff3d00; font-size: 16px;}
.textbox .content .playVideoBox .playVideo:hover { background: url(../images/icon-play.png) no-repeat left -24px;}

.container { -webkit-font-smoothing: antialiased; width: 100%; overflow: hidden;}
.xmSlideWrap { text-align: center;}
.xmSlideWrap .xmSlideControl { overflow: hidden; height: 1300px;}
.xmSlideWrap .xmSlideControl .slide { position: absolute; width: 100%; height: 1100px; height: 1000px; top: 0; left: 0; display: none; z-index: 1; opacity: 1;}
.xmSlideWrap .xmSlideControl .slide img { position: absolute; top: 0; left: 50%;}
.xmSlideWrap .xmSlideControl .slide-1 .product { margin-left: -500px;}
.xmSlideWrap .xmSlideControl .slide-2 .product { margin-left: -326px;}
.xmSlideWrap .xmSlideControl .slide-3 .product { margin-left: -397px;}
.xmSlideWrap .xmSlideControl .slide-4 .product { margin-left: -437px;}
.xmSlideWrap .prev,
.xmSlideWrap .next { width: 25px; height: 50px; background: url(../images/arrow.png) no-repeat; top: 12%; cursor: pointer; z-index: 2;}
.xmSlideWrap .prev { background-position: left 0; left: 30px;}
.xmSlideWrap .next { background-position: -25px 0; right: 30px;}
.xmSlideWrap .pagination { width: 400px; height: 22px; bottom: 512px; left: 50%; margin-left: -200px; z-index: 2;}
.xmSlideWrap .pagination a { overflow: hidden; border: 1px solid #757575; border-color: rgba(0,0,0,0.2); border-radius: 12px; width: 12px; height: 12px; display: inline-block; vertical-align: middle; background: url(../images/dot.png) no-repeat; margin: 0 8px;}
.xmSlideWrap .pagination a.active { background-position: -12px 0;}
.xmSlideWrap .pagination .slide-title { width: 400px; line-height: 22px; font-size: 12px; color: #424242; left: 0; bottom: -24px;}
.xmSlideWrap .peizhi { height: 580px; width: 100%; bottom: 0; left: 0; background: url(../images/overall-intro-mask.png) repeat-x 0 0; z-index: 1;}
.xmSlideWrap .peizhi .content-list { width: 1116px; height: 580px; margin: 0 auto;}
.xmSlideWrap .peizhi .content-list li { float: left; width: 279px; height: 189px; padding-top: 100px; position: relative;}
.xmSlideWrap .peizhi .content-list .top:not(:first-child):after,
.xmSlideWrap .peizhi .content-list li.bottom:after { position: absolute; top:0; left: 0; width: 1px; height: 289px; content: ''; background: -webkit-linear-gradient(top, transparent,rgba(0,0,0,.1)); background: linear-gradient(top, transparent,rgba(0,0,0,.1));}
.xmSlideWrap .peizhi .content-list li.bottom { border-top: 1px solid #dcdcdc; padding-top: 80px; height: 209px;}
.xmSlideWrap .peizhi .content-list li.bottom:after { background: -webkit-linear-gradient(top, rgba(0,0,0,.1),transparent); background: linear-gradient(top, rgba(0,0,0,.1)),transparent;}
.xmSlideWrap .peizhi .content-list li.bottom:nth-child(5):after { background: none;}
.xmSlideWrap .peizhi .content-list li .icon { display: block; background: url(../images/icons-overall-intro-features.png) no-repeat; width: 64px; height: 64px; margin: 0 auto 20px;}
.xmSlideWrap .peizhi .content-list li.item1 .icon { background-position: 0 0;}
.xmSlideWrap .peizhi .content-list li.item2 .icon { background-position: -64px 0;}
.xmSlideWrap .peizhi .content-list li.item3 .icon { background-position: -128px 0;}
.xmSlideWrap .peizhi .content-list li.item4 .icon { background-position: -192px 0;}
.xmSlideWrap .peizhi .content-list li.item5 .icon { background-position: 0 -64px;}
.xmSlideWrap .peizhi .content-list li.item6 .icon { background-position: -64px -64px;}
.xmSlideWrap .peizhi .content-list li.item7 .icon { background-position: -128px -64px;}
.xmSlideWrap .peizhi .content-list li.item8 .icon { background-position: -192px -64px;}

.container > div { font-size: 16px; color: #424242; -webkit-font-smoothing: antialiased;}
.container .xmintro .contentBox { width: 1226px; height: 1285px; margin: 0 auto; overflow: hidden;}
.xmintro .contentBox .over-body { transition: all .8s; -webkit-transition: all 2s; top: 60%; left: 60%; opacity: 0; width: 1364px; height: 1112px; margin: -528px 0 0 -682px; background: url(../images/overall-body.jpg) no-repeat; background-size: contain; z-index: 1;}
.xmintro .contentBox .over-body.end { top: 50%; left: 50%; opacity: 1;}
.xmintro .contentBox .textOne { top: 100px; right: 62px; width: 400px; z-index: 2;}
.xmintro .contentBox .textTwo { width: 480px; left: 62px; bottom: 150px; z-index: 2;}
.xmintro .contentBox .textOne .title,
.xmintro .contentBox .textTwo .title { font-size: 40px; line-height: 1.25; font-weight: 100; color: #424242;}
.xmintro .contentBox .textOne .subtitle { font-size: 24px; line-height: 1.25; white-space: pre; font-weight: 100; color: #757575; margin-bottom: 30px;}
.xmintro .contentBox .textTwo .desc,
.xmintro .contentBox .textOne .desc { line-height: 1.875; margin-bottom: 30px; font-size: 16px;}
.xmintro .contentBox .textOne .links a { margin-right: 12px; display: inline-block; color: #ff3d00; font-size: 16px;}
.xmintro .contentBox .textOne .links a:hover { text-decoration: underline;}
.xmintro .contentBox .textTwo .peizhi { margin: 20px 0 40px; }
.xmintro .textTwo .peizhi .biaozhun,
.xmintro .textTwo .peizhi .dingpei { width: 198px; padding: 18px 0; border: 1px solid #bdbdbd; color: #333;}
.xmintro .textTwo .peizhi .biaozhun .p-title,
.xmintro .textTwo .peizhi .dingpei .p-title { padding: 0 6px; background: #fff; width: 60px; text-align: center; top: -10px; left: 50%; line-height: 20px; margin-left: -38px;}
.xmintro .textTwo .peizhi .dingpei .p-name,.xmintro .textTwo .peizhi .dingpei .p-canshu,
.xmintro .textTwo .peizhi .biaozhun .p-name, .xmintro .textTwo .peizhi .biaozhun .p-canshu { width: 99px; line-height: 20px; text-align: center; display: inline-block;}
.xmintro .textTwo .peizhi .dingpei .p-name,
.xmintro .textTwo .peizhi .biaozhun .p-name { margin-left: -1px; border-right: 1px solid #bdbdbd;}
.xmintro .textTwo .peizhi .dingpei { border-color: #d5ac31;  color: #c09411;}
.xmintro .textTwo .peizhi .dingpei .p-name { border-right-color: #d5ac31;}
.xmintro .textTwo .more { color: #ff3d00; font-size: 16px;}
.xmintro .textTwo .more:hover { text-decoration: underline;}
@media (min-width: 1660px){
  .container .xmintro .contentBox { width: 1612px;}
  .container .xmintro .contentBox .textOne { top: 150px; right: 124px; width: 496px;}
  .container .xmintro .contentBox .textTwo { left: 124px; bottom: 240px; }
}

.container .xmlcd { background: #f5f5f5;}
.container .xmlcd .contentBox { width: 1226px; margin: 0 auto; padding-top: 100px; overflow: hidden; height: 1080px;}
.xmlcd .contentBox .tablist { border: 1px solid #e0e0e0; margin: 0 auto 50px; width: 364px;}
.xmlcd .contentBox .tablist li { float: left; width: 50%; background: #e0e0e0; color: #212121;}
.xmlcd .contentBox .tablist li a { display: block; text-align: center; height: 40px; line-height: 40px; font-size: 14px;}
.xmlcd .contentBox .tablist li.tab-active { color: #fff; background: #fff;}
.xmlcd .contentBox .content { text-align: center;}
.xmlcd .contentBox .content .one {}
.xmlcd .contentBox .content .two { display: none;}
















