/* reset */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
body,h1,h2,h3,p,ul,ol,li,dt,dd,dl,input,select { margin: 0; padding: 0;}
html, body {
    -webkit-user-select: none;   /* 禁止选中文本（如无文本选中需求，此为必选项） */
    user-select: none;
    height: 100%; overflow: hidden;
}
a, img { -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */  -webkit-tap-highlight-color: transparent;}
a { text-decoration: none; color: #fff; outline: 0;}
i,em { font-style: normal;}
img,input,select,option { border: 0; background: transparent; outline: 0;}
h1,h2,h3 { font-size: 100%; font-weight: normal;}
ul {list-style: none;}
body { font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color: #fff; -webkit-font-smoothing: antialiased;}
