<%- include header %>
<form method="post" id="reg">
  <h1><%= tips %></h1>
  用户名：  <input type="text" name="username"/><br />
  密码：    <input type="password" name="password"/><br />
  确认密码：<input type="password" name="repassword"/><br />
  邮箱：    <input type="email" name="email"/><br />
           <input type="submit" value="注册"/>
</form>
<%- include footer %>
