doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/lib/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/lib/jquery-2.1.4.js')
    script(src='/js/build/main.js')
  body
    block content
